@use "../1-base/base-mixin" as bb;
@use "layout-mixins" as lm;

.banners{
    @include lm.center-content;
    padding: 3rem 0;

    @include bb.mobile {
        flex-direction: column;
        align-items: center;
      }
}

