@use "../1-base/base-mixin" as bb;
@use "layout-mixins" as lm;

.products-grid {
  @include lm.center-content;
  flex-direction: column;
  padding: 2rem 0;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;

    @include bb.mobile {
      text-align: center;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    @include bb.mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
